/* TODO Add site wide styles */
:root {
  --main-fonts: 'Open Sans', sans-serif;
  --main-font-color: #555555;
  --light-font-color: #FFFFFF;
  --blue-accent-font-color: #324A6B;
  --grey-accent-font-color: #878787;
  --orange-button-color: #FF8243;
  --teal-button-color: #2AA5DC;
  --grey-button-color: #4b4040;

  --dark-bg-color: #6b5e67;
  --light-bg-color: #CCCCCC;
  --nav-bar-bg-color: #324054;

  --input-border-color: #C1D6E0;
  --input-border: 2px solid rgba(25, 112, 150, 0.3);
  --input-border-radius: 6px;
  --input-font-color: #737373;
}


html {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0.1px;
}

button {
  font-family: 'Open Sans', sans-serif;
}



.error-container {
  margin: 0;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;

}

.error-text {
  color: red;
  font-size: 14px;
}

.logout-button {
  cursor: pointer;
  background-color: var(--orange-button-color);
  border-radius: 24px;
  font-size: 12px;
  height: 48px;
  margin: 0;
  border: none;
  color: #FFFFFF;
  font-weight: 400;
  justify-content: center;
  padding: 0 25.2px;
}